
form {
    flex: 1;
}

.form{
    flex: 1;
    padding: 10px;
}

form div{
    margin-bottom: 10px;

}


form input{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 40px;
}

form input[type="submit"]{
    background-color: brown;
    color: #FFF;
    cursor: pointer;
    border: none;
}